body {
	background: #1a1a1a;
	margin: 0;
	color: #fff;
}
.content_div {
	margin-left: auto;
	margin-right: auto;
	min-height: 850px;
	width:	1550px;

	height: calc(100 - 120px);
	padding-top: 120px;
	background: #333333;
	padding-left: 10px;
	padding-right: 10px;
}
.header_div {
	width: 100%;
	height: 150px;
	background: #0f0;
}
.col {
	width: 500px;
	height: 100%;
	background: #00f;
	display: inline-block;
}
.image_col {
	float: left;
}
.info_col {
	float:right;
}
.question_col {
	margin-left: 25px;
}
.columns_div {
	height:	500px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.toolbar {
	width: 100%;
	height: 35px; 
	background: #0ff;
}
.anim_div {
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	transition: margin-top 1s ease;
}
.image_container {
	height: 90%;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 5%;
	margin-top: 5%;
	background: #fff;
}

.infotext_container {
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 10%;
	height: 90%;
	width: 90%;
	font-family: Tahoma, Geneva, sans-serif;	
	color: #efefef;
	font-size: 18px;
	font-weight: 500;
}
.left-buttons {
	height: 90%;
	float: left;
}
.right-buttons {
	height: 90%;
	float: right;
}
.button {
	color: white;
	border-radius: 5px;
	border:	0px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: #1a1a1a;
	font-size: 18px;
	font-family: Tahoma, Geneva, sans-serif;
	height: 30px;
	margin-top: 2.5px;
	margin-right: 10px;
}
.button-circle {
	color: white;
	border-radius: 15px;
	border:	0px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: #1a1a1a;
	font-size: 18px;
	font-family: Tahoma, Geneva, sans-serif;
	height: 30px;
	width: 30px;
	margin-top: 2.5px;
	margin-right: 10px;
}
.button-circle:focus{
	outline: 0;
	background: #bf4040;
}